* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  --main-color-text: #35414b;
  --sub-main-color-text: #4e5a65;
  --ancillary-color: #794cff;
}

body {
  font-family: "Inter", Courier, monospace;
  color: var(--main-color-text);
}

.wrapper {
  max-width: 1130px;
  min-width: 414px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: #ffffff;
}

.header-main {
  align-items: center;
  margin: 1.5rem 0 1.5rem;
}

.text-logo {
  font-family: "Josefin Sans", Courier, monospace;
  color: #1d2830;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
}

.dot {
  color: var(--ancillary-color);
}

.nav-menu,
.nav-li,
.nav-ol {
  display: flex;
  align-items: center;
}

.nav-menu {
  gap: 20px;
  justify-content: space-between;
}

.nav-li + .nav-li {
  margin-left: 2.8125rem;
}

.nav-li > a {
  color: var(--main-color-text);
}

.nav-li {
  gap: 0.25rem;
}

.log-in-btn {
  border: none;
  background: none;
  color: var(--main-color-text);
  margin-right: 1rem;
  cursor: pointer;
}

.get-started-btn {
  background: #ece5ff;
  border: none;
  cursor: pointer;
  padding: 1rem 1.5rem;
  border-radius: 4px;
  color: var(--ancillary-color);
  font-weight: 500;
}

.get-started-btn:hover,
.log-in-btn:hover {
  transform: scale(1.1);
}

.get-started-btn:active,
.log-in-btn:active {
  transform: scale(1);
}

.burger-menu {
  display: none;
}

.text-burger-menu {
  text-transform: uppercase;
  font-size: 0.5rem;
  margin-top: 0.375rem;
}

.circle {
  position: absolute;
  width: 195.5rem;
  height: 195.5rem;
  background: #f0ebfa2e;
  border-radius: 50%;
  border: 1px solid #f0ebfa;
  left: 50%;
  top: -300%;
  transform: translate(-50%);
  z-index: -2;
}

.discount {
  margin: 13.375rem auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prise-save {
  position: relative;
  right: 50px;
  z-index: -1;
  border-radius: 100px;
  background-color: #f2f9eb;
  padding: 0.5rem 1rem 0.5rem 3.75rem;
  color: inherit;
  margin-right: -50px;
}

.group {
  margin-left: 0.3125rem;
}

.discount-save {
  color: #fff;
  border-radius: 6.25rem;
  background-color: #81c43b;
  padding: 0.5rem 1rem;
}

.title-main {
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
  max-width: 760px;
  width: 100%;
  margin: 1.5rem auto 0;
}

.sub-title-main {
  max-width: 31.5625rem;
  width: 100%;
  margin: 1.5625rem auto 0;
  text-align: center;
  line-height: 24px;
  color: var(--sub-main-color-text);
}

.form-top-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1.5rem;
}

.input-form-top-section {
  max-width: 20rem;
  border-radius: 4px 0px 0px 4px;
  border: 1px solid #e1e5ea;
  padding: 1.125rem 1.5rem;
  outline: none;
  color: var(--main-color-text);
}

.input-form-top-section:focus {
  border: none;
  border-radius: 4px 0px 0px 4px;
  border: 1px solid var(--sub-main-color-text);
}

.btn-form-top-section {
  color: #fff;
  background-color: var(--ancillary-color);
  border-radius: 0px 4px 4px 0px;
  border: 1px solid var(--ancillary-color);
  width: 10rem;
  cursor: pointer;
  padding: 1.125rem 1.5rem;
}

.btn-form-top-section:hover {
  border-radius: 4px;
  transform: scale(1.05);
}

.btn-form-top-section:active {
  border-radius: 0px 4px 4px 0px;
  transform: scale(1);
}

.img-graph-wrapper {
  display: flex;
  justify-content: center;
}

.img-graph {
  max-width: 57.5rem;
  width: 100%;
  object-fit: cover;
  object-position: center;
  margin-top: 3.125rem;
}

.head-graph-section {
  text-align: center;
  text-transform: uppercase;
  margin-top: 6.25rem;
}

.prominent-text {
  font-weight: 700;
}

.list-teams {
  margin-top: 1.5625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.privileges-section-bg-color {
  margin-top: 6.25rem;
  background-color: #f0ebfa;
  border-top: 1px solid #c9c0d9;
  border-bottom: 1px solid #c9c0d9;
}

.privileges-section {
  padding: 3.75rem 0.625rem;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.img-chat-wrapper {
  max-width: 41rem;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.head-privilege-item {
  font-weight: 600;
  color: var(--main-color-text);
  font-size: 1.125rem;
}

.description-privilege-item {
  color: var(--sub-main-color-text);
  margin-top: 0.625rem;
}

.privileges-items > li {
  padding: 1.625rem 2.25rem;
  width: 23.125rem;
}

.privileges-items > li:first-child {
  border-left: 0.5rem solid var(--ancillary-color);
  background-color: #f6f3fc;
  border-radius: 0px 8px 8px 0px;
}

.privileges-items > li:nth-child(n + 3) {
  border-top: 1px solid #d4cfde;
}

@media screen and (max-width: 1070px) {
  .privileges-section {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .privileges-items > li {
    width: 100%;
  }

  .privileges-items > li:first-child {
    border: none;
    border-bottom: 6px solid var(--ancillary-color);
    border-radius: 8px 8px 0px 0px;
  }
}

@media screen and (max-width: 846px) {
  .nav-ol,
  .main-reast-btn {
    display: none;
  }

  .header-main {
    margin: 2rem 0 0.5rem;
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    cursor: pointer;
  }

  .burger-menu:hover {
    background: #35414b0b;
  }

  .discount {
    margin-top: 10rem;
  }

  .title-main {
    font-size: 3rem;
  }
}

@media screen and (max-width: 540px) {
  .list-teams > li:last-child {
    display: none;
  }
}

@media screen and (max-width: 414px) {
  .discount-save {
    display: none;
  }

  .prise-save {
    right: 0;
    padding: 0.5rem 1rem;
    margin: 0;
  }

  .title-main {
    max-width: 318px;
    font-size: 2rem;
    line-height: 40px;
    margin-top: 1rem;
  }

  .sub-title-main {
    max-width: 19.875rem;
    margin: 1.25rem auto 0;
  }

  .form-top-section {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .input-form-top-section,
  .btn-form-top-section {
    border-radius: 4px;
    width: 20rem;
  }

  .img-graph {
    max-width: 20rem;
  }

  .head-graph-section {
    font-size: 0.6875rem;
    margin-top: 3.375rem;
  }
}
