.formContainer
	margin: 8px
	margin-top: auto

.formWrapper
	display: flex
	gap: 16px

.inputForm
	padding: 8px
	border-radius: 10px
	border: 1px solid black
	width: 100%

.btnForm
	border: 1px solid black
	background: none
	border-radius: 10px
	padding: 4px 16px

	&:hover
		transform: scale(1.05)

	&:active
		transform: scale(1)
