@use './../../../../constants' as *

%btn
	@extend %btnHAF
	padding: 0
	margin: 0
	font-size: 1rem


.todoItem
	position: relative
	padding: 1rem
	border: 1px solid gray
	width: 30rem
	display: flex

	&:not(:first-child)
		border-top: none

.trash
	@extend %btn
	margin-left: 1rem
	color: $primaryColor
	display: flex
	justify-content: center
	align-items: center

.btnIsDone
	@extend %btn
	margin-right: 1rem

.isDoneActive
	@extend %btn
	color: $primaryColor

.isDoneDisablet
	@extend %btn

.title
	margin-right: 1rem

.btnEdit
	@extend %btn
	color: $primaryColor
	margin-left: auto
	display: flex
	justify-content: center
	align-items: center
