.usersWrapper
	max-width: 50rem
	min-width: 20rem
	width: 100%
	margin: 3.125rem auto
	display: flex
	flex-direction: column
	gap: .9375rem

.userWrapperItem
	padding: .625rem
	border-radius: .625rem
	border: 1px solid black
	display: flex
	align-items: center
	gap: .625rem

.userImg
	border-radius: 50%

.userFullName
	display: flex
	gap: .3125rem